@import "tailwindcss";

:root {
    --primary-color: #242423;
    --secondary-color: #F5CB5C;
    --third-color: #CFDBD5;
    --white-color: #ffffff;
    --black-color: #000000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}